{% if obj.testimonial %}
<div class="kc-container flex flex-col justify-center items-center mx-auto space-y-8" x-data="{ testimonialActive: 1 }" x-cloak>
    <div>
        <div class="flex flex-row space-x-8">
            <button class="rotate-180" x-on:click="testimonialActive = testimonialActive === 1 ? {{ obj.testimonial|length }} : testimonialActive - 1">
                    <svg xmlns="http://www.w3.org/2000/svg" width="53" height="53" viewBox="0 0 53 53" fill="none">
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M26.5 3.91553C32.5337 3.91553 38.3202 6.3124 42.5867 10.5788C46.8531 14.8453 49.25 20.6319 49.25 26.6655C49.25 32.6992 46.8531 38.4858 42.5867 42.7522C38.3202 47.0187 32.5337 49.4155 26.5 49.4155C20.4663 49.4155 14.6798 47.0187 10.4133 42.7522C6.14687 38.4858 3.75 32.6992 3.75 26.6655C3.75 20.6319 6.14687 14.8453 10.4133 10.5788C14.6798 6.3124 20.4663 3.91553 26.5 3.91553ZM26.5 52.6655C33.3956 52.6655 40.0088 49.9263 44.8848 45.0503C49.7607 40.1744 52.5 33.5612 52.5 26.6655C52.5 19.7699 49.7607 13.1567 44.8848 8.28075C40.0088 3.40481 33.3956 0.665527 26.5 0.665527C19.6044 0.665527 12.9912 3.40481 8.11522 8.28075C3.23928 13.1567 0.5 19.7699 0.5 26.6655C0.5 33.5612 3.23928 40.1744 8.11522 45.0503C12.9912 49.9263 19.6044 52.6655 26.5 52.6655ZM15.125 28.2905C14.694 28.2905 14.2807 28.1193 13.976 27.8146C13.6712 27.5098 13.5 27.0965 13.5 26.6655C13.5 26.2346 13.6712 25.8212 13.976 25.5165C14.2807 25.2117 14.694 25.0405 15.125 25.0405L33.9523 25.0405L26.9745 18.066C26.6694 17.7609 26.4979 17.347 26.4979 16.9155C26.4979 16.484 26.6694 16.0702 26.9745 15.765C27.2796 15.4599 27.6935 15.2885 28.125 15.2885C28.5565 15.2885 28.9704 15.4599 29.2755 15.765L39.0255 25.515C39.1768 25.666 39.2969 25.8453 39.3788 26.0427C39.4607 26.2401 39.5029 26.4518 39.5029 26.6655C39.5029 26.8793 39.4607 27.0909 39.3788 27.2883C39.2969 27.4858 39.1768 27.6651 39.0255 27.816L29.2755 37.566C28.9704 37.8712 28.5565 38.0426 28.125 38.0426C27.6935 38.0426 27.2796 37.8712 26.9745 37.566C26.6694 37.2609 26.4979 36.847 26.4979 36.4155C26.4979 35.984 26.6694 35.5702 26.9745 35.265L33.9523 28.2905L15.125 28.2905Z" fill="#EC0E04"/>
                    </svg>
            </button>
            <div>
                <svg xmlns="http://www.w3.org/2000/svg" width="113" height="108" viewBox="0 0 113 108" fill="none">
                    <path d="M98.5 7C100.357 7 102.137 7.7375 103.45 9.05025C104.763 10.363 105.5 12.1435 105.5 14V70C105.5 71.8565 104.763 73.637 103.45 74.9497C102.137 76.2625 100.357 77 98.5 77H81C78.8266 77 76.683 77.506 74.739 78.478C72.795 79.45 71.1041 80.8613 69.8 82.6L56.5 100.331L43.2 82.6C41.8959 80.8613 40.205 79.45 38.261 78.478C36.317 77.506 34.1734 77 32 77H14.5C12.6435 77 10.863 76.2625 9.55025 74.9497C8.2375 73.637 7.5 71.8565 7.5 70V14C7.5 12.1435 8.2375 10.363 9.55025 9.05025C10.863 7.7375 12.6435 7 14.5 7H98.5ZM14.5 0C10.787 0 7.22601 1.475 4.60051 4.10051C1.975 6.72601 0.5 10.287 0.5 14L0.5 70C0.5 73.713 1.975 77.274 4.60051 79.8995C7.22601 82.525 10.787 84 14.5 84H32C33.0867 84 34.1585 84.253 35.1305 84.739C36.1025 85.225 36.948 85.9306 37.6 86.8L50.9 104.531C51.552 105.4 52.3975 106.106 53.3695 106.592C54.3415 107.078 55.4133 107.331 56.5 107.331C57.5867 107.331 58.6585 107.078 59.6305 106.592C60.6025 106.106 61.448 105.4 62.1 104.531L75.4 86.8C76.052 85.9306 76.8975 85.225 77.8695 84.739C78.8415 84.253 79.9133 84 81 84H98.5C102.213 84 105.774 82.525 108.399 79.8995C111.025 77.274 112.5 73.713 112.5 70V14C112.5 10.287 111.025 6.72601 108.399 4.10051C105.774 1.475 102.213 0 98.5 0L14.5 0Z" fill="#3968E1"/>
                    <path d="M49.9621 33.3199C48.5986 31.1964 46.5827 29.5729 44.2173 28.6933C41.852 27.8137 39.2651 27.7256 36.8454 28.4422C34.4258 29.1588 32.304 30.6414 30.7991 32.6671C29.2942 34.6929 28.4875 37.1523 28.5001 39.6759C28.5014 41.7656 29.0638 43.8167 30.1286 45.6148C31.1935 47.4129 32.7216 48.892 34.5535 49.8977C36.3853 50.9034 38.4536 51.3987 40.5423 51.3319C42.6309 51.2651 44.6633 50.6386 46.4271 49.5179C45.5101 52.2409 43.8021 55.1459 40.9881 58.0579C40.4498 58.6148 40.1547 59.3628 40.1678 60.1374C40.1809 60.9119 40.5012 61.6495 41.0581 62.1879C41.6151 62.7263 42.3631 63.0214 43.1376 63.0082C43.9122 62.9951 44.6498 62.6748 45.1881 62.1179C55.5901 51.3379 54.2391 39.6199 49.9621 33.3339V33.3199ZM77.9621 33.3199C76.5986 31.1964 74.5827 29.5729 72.2173 28.6933C69.852 27.8137 67.2651 27.7256 64.8454 28.4422C62.4258 29.1588 60.304 30.6414 58.7991 32.6671C57.2942 34.6929 56.4875 37.1523 56.5001 39.6759C56.5014 41.7656 57.0638 43.8167 58.1286 45.6148C59.1935 47.4129 60.7216 48.892 62.5535 49.8977C64.3853 50.9034 66.4536 51.3987 68.5423 51.3319C70.6309 51.2651 72.6633 50.6386 74.4271 49.5179C73.5101 52.2409 71.8021 55.1459 68.9881 58.0579C68.4498 58.6148 68.1547 59.3628 68.1678 60.1374C68.1809 60.9119 68.5012 61.6495 69.0581 62.1879C69.6151 62.7263 70.3631 63.0214 71.1376 63.0082C71.9122 62.9951 72.6498 62.6748 73.1881 62.1179C83.5901 51.3379 82.2391 39.6199 77.9621 33.3339V33.3199Z" fill="#3968E1"/>
                </svg>
            </div>
            <button class="" x-on:click="testimonialActive = testimonialActive >= {{ obj.testimonial|length }} ? 1 : testimonialActive + 1">
                <svg xmlns="http://www.w3.org/2000/svg" width="53" height="53" viewBox="0 0 53 53" fill="none">
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M26.5 3.91553C32.5337 3.91553 38.3202 6.3124 42.5867 10.5788C46.8531 14.8453 49.25 20.6319 49.25 26.6655C49.25 32.6992 46.8531 38.4858 42.5867 42.7522C38.3202 47.0187 32.5337 49.4155 26.5 49.4155C20.4663 49.4155 14.6798 47.0187 10.4133 42.7522C6.14687 38.4858 3.75 32.6992 3.75 26.6655C3.75 20.6319 6.14687 14.8453 10.4133 10.5788C14.6798 6.3124 20.4663 3.91553 26.5 3.91553ZM26.5 52.6655C33.3956 52.6655 40.0088 49.9263 44.8848 45.0503C49.7607 40.1744 52.5 33.5612 52.5 26.6655C52.5 19.7699 49.7607 13.1567 44.8848 8.28075C40.0088 3.40481 33.3956 0.665527 26.5 0.665527C19.6044 0.665527 12.9912 3.40481 8.11522 8.28075C3.23928 13.1567 0.5 19.7699 0.5 26.6655C0.5 33.5612 3.23928 40.1744 8.11522 45.0503C12.9912 49.9263 19.6044 52.6655 26.5 52.6655ZM15.125 28.2905C14.694 28.2905 14.2807 28.1193 13.976 27.8146C13.6712 27.5098 13.5 27.0965 13.5 26.6655C13.5 26.2346 13.6712 25.8212 13.976 25.5165C14.2807 25.2117 14.694 25.0405 15.125 25.0405L33.9523 25.0405L26.9745 18.066C26.6694 17.7609 26.4979 17.347 26.4979 16.9155C26.4979 16.484 26.6694 16.0702 26.9745 15.765C27.2796 15.4599 27.6935 15.2885 28.125 15.2885C28.5565 15.2885 28.9704 15.4599 29.2755 15.765L39.0255 25.515C39.1768 25.666 39.2969 25.8453 39.3788 26.0427C39.4607 26.2401 39.5029 26.4518 39.5029 26.6655C39.5029 26.8793 39.4607 27.0909 39.3788 27.2883C39.2969 27.4858 39.1768 27.6651 39.0255 27.816L29.2755 37.566C28.9704 37.8712 28.5565 38.0426 28.125 38.0426C27.6935 38.0426 27.2796 37.8712 26.9745 37.566C26.6694 37.2609 26.4979 36.847 26.4979 36.4155C26.4979 35.984 26.6694 35.5702 26.9745 35.265L33.9523 28.2905L15.125 28.2905Z" fill="#EC0E04"/>
                </svg>
            </button>
        </div>

    </div>
    <div class="md:w-3/4">
      <div class="flex flex-col h-full relative">
        <div class="h-full relative">
            {% for test in obj.testimonial %}
                <div x-show.immediate="testimonialActive === {{ loop.index }}">
                    <div class="testimonial" x-show.transition="testimonialActive == {{ loop.index }}">
                    {{ test.quote }}
                    </div>
                    {% if test.quotee %}
                    <p class="text-center text-electric_blue">{{ test.quotee }}</p>
                    {% endif %}
                    {% if test.quotee_titlecompany %}
                    <p class="text-center text-electric_blue">{{ test.quotee_titlecompany }}</p>
                    {% endif %}
                </div>
            {% endfor %}
        </div>

       
      </div>
    </div>
    {% if obj.testimonial|length > 1 %}
    <div class="flex my-4 justify-center items-center">
        {% for test in obj.testimonial %}
            <button @click.prevent="testimonialActive = {{ loop.index }}" class="text-center font-bold shadow-xs focus:outline-none focus:shadow-outline inline-block rounded-full mx-2 h-4 w-4" :class="{'opacity-25 bg-electric_blue text-white': testimonialActive != {{ loop.index }}, 'opacity-100 bg-navy text-white': testimonialActive == {{ loop.index }} }"></button>
        {% endfor %}
    </div>
    {% endif %}
  </div>
{% endif %}
